.search-bar {
  width: 100%;
  border: 1px solid #adadad;
  border-radius: 10px;
  height: 40px;
  padding: 5px;
  margin-top: 20px;
}
.search-input {
  border: none;
  width: 85%;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
input:focus {
  outline: none;
}
#onlylike-btn {
  margin: 0 10px;
}
.search-select-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mylike {
  display: flex;
  align-items: center;
  margin: 10px 0 0 6px;
  font-weight: 600;
  cursor: pointer;
}
.mylike-check {
  margin-bottom: 4px;
}
.mylike-text {
  margin-left: 5px;
  font-size: 0.85em;
  user-select: none;
}
.search-select {
  display: flex;
  justify-content: right;
}
.custom-select {
  border: none;
  width: 6em;
  font-size: 13px;
  font-weight: bold;
}
.custom-select:focus {
  outline: none;
}
.parent {
  display: flex;
  flex-direction: column;
  height: 91vh;
}
#container {
  height: auto;
  overflow: scroll;
  flex-grow: 1;
  margin-top: 10px;
}
#container::-webkit-scrollbar {
  width: 5px;
}
#container::-webkit-scrollbar-thumb {
  /* 스크롤바의 길이 */
  height: 20%;
  background-color: #c2c0c0;
  border-radius: 10px;
  background-clip: padding-box;
  border: 0px solid transparent;
}
#container::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
.mainTag {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.mainHashtag {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  color: #333;
}
