#detailcontainer {
  /* border-radius: 10px; */
  /* border: 2px #cdcdcd solid; */
  display: flex;
  flex-direction: column;
  height: 91vh;
  overflow: scroll;
}

#detailcontainer::-webkit-scrollbar {
  width: 5px;
}

#detailcontainer::-webkit-scrollbar-thumb {
  /* 스크롤바의 길이 */
  height: 20%;
  background-color: #c2c0c0;
  border-radius: 10px;
  background-clip: padding-box;
  border: 0px solid transparent;
}

#detailcontainer::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
